/* global lowercase */
body *,
/* placeholder */
:is(
  input:is(
    [type="search"],
    [type="text"]),
  .prompt-input
)::placeholder {
  text-transform: lowercase !important;
}

/* exceptions */

/* titles */
:is(
  .inline-title,
  .view-header-title
)[contenteditable="true"],
.view-header-breadcrumb,
.titlebar-text,


[class^="nav-file"],
[class^="nav-folder"],
[class*="search-result-file-"],
[class*="tree-item"]:not(.backlink-pane *),
.backlink-pane .search-result-container [class*="tree-item-inner"],

.markdown-rendered .internal-link,

.view-header-title-container :not(
  [data-type="graph"],
  [data-type="empty"]
) .workspace-tab-header-inner-title,
.mod-root
.workspace-tab-header:not([data-type="graph"]):not([data-type="empty"])
.workspace-tab-header-inner-title:not(.workspace-drawer-tab-options),
body:has(
  .mod-root
  .workspace-tab-header.workspace-tab-header:not([data-type="graph"]):not([data-type="empty"]):hover
) .tooltip,
.tooltip:is(
  .mod-file,
  .mod-folder
),

.mobile-tab-wrapper
.mobile-tab-title,

/* note text */
.canvas-node-content,
.canvas-node-content *,
.markdown-source-view.mod-cm6 .cm-content,
.markdown-source-view.mod-cm6 .cm-content *,
.popover.hover-popover .markdown-preview-view,
.popover.hover-popover .markdown-preview-view *,
.workspace-leaf.mod-active .markdown-reading-view,
.workspace-leaf.mod-active .markdown-reading-view *,

/* input fields */
input[type="search"],
input[type="text"],
.prompt-input,
.workspace-leaf.mod-active .metadata-property-value,
.workspace-leaf.mod-active .metadata-property-value *:not(:empty),

textarea,

/* tags */
.cm-hashtag,
a.tag,
.tag-pane-tag,

/* suggestions */
.suggestion-container.mod-property-key,
.suggestion-container.mod-property-key *,
.suggestion-container .suggestion-item.mod-complex:not(.mod-group),
.suggestion-container .suggestion-item.mod-complex:not(.mod-group) *,

/* vault */
.workspace-drawer-vault-name {
  text-transform: none !important;
}